rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /app/{doc} {
      allow read, write: if request.auth != null;
    }
    match /{other=**} {
      allow read, write: if false;
    }
  }
}
